nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed; /* Fix the nav to the viewport */
  top: 0; /* Align top to the top of the viewport */
  left: 0; /* Align left to the left of the viewport */
  background-color: brown;
  z-index: 1000; /* Ensure the navbar is above other content */

  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to lay out items horizontally */
}

nav li {
  margin: 0;
  padding: 0;
}

nav li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: darkkhaki;
  border: 1px solid transparent;
  transform: scale(1); /* Initialize scale */
  transition: transform 0.3s, color 0.3s, background-color 0.3s; /* Specify transitions */
}

nav li a:hover {
  color: white;
  background-color: darkolivegreen;
  border: 3px solid darkslategray;
  transform: scale(1.05); /* Increase scale slightly */
}

nav li a.is-current {
  color: darkolivegreen;
  background-color: rgb(227, 196, 138);
  pointer-events: none;
  cursor: default;
}

nav li a.is-current.adjust {
  border: 3px solid rgb(227, 196, 138);
}

nav::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: black; /* This creates the black line at the bottom */
  transition: bottom 0.3s; /* Animate the bottom property */
}
nav li a:hover::after {
  bottom: -3px; /* Pushes the pseudo-element down by the thickness of the border */
}
